<div class="card text-dark bg-light">
  <div class="card-header py-2 px-3">
    <div class="d-flex align-items-center">
      <h5 class="mb-0 text-uppercase flex-grow-1"><%= conversation_entry.raif_user_tool_invocation.tool_name %></h5>

      <%= link_to raif.new_conversation_entry_path(conversation), class: "text-dark", data: { turbo_stream: true } do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
      <% end %>
    </div>
  </div>
  <div class="card-body py-2 px-3">
    <%= render "raif/conversation_entries/form",
          conversation: conversation,
          conversation_entry: conversation_entry %>
  </div>
</div>
