<%= turbo_stream_from :agent_runs %>

<%= form_with url: agent_runs_path, method: :post do |form| %>
  <%= form.text_field :task, placeholder: "Enter a task", class: "form-control" %>
  <%= form.submit "Run Agent" %>
<% end %>

<div id="agent-progress">
</div>
