<h1 class="my-4">Chat Interface</h1>

<div class="card">
  <div class="card-header">
    <h5 class="mb-0">Test Conversation</h5>
  </div>
  <div class="card-body">
    <%= raif_conversation(@conversation) %>
  </div>
</div> 